body {
  font-size: 1em;
}

header, footer {
  margin: 10px;
}

header h3 {
  font-size: 1.5em;
}

h6 {
  font-weight: bold;
  font-size: 0.9em;
}

footer {
  margin-top: 30px;
}

footer a {
  color: #44AA33;
}

section {
  margin: 10px 30px;
}

section>ul {
  margin-left: 0.5em !important;
}

.content {
  width: 50%;
}

div.collapsible-body ul, div.collapsible-body ul li {
  list-style-type: circle;
}

div.collapsible-body {
  padding: 1em 4em;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body {
    font-size: 1.6em;
  }

  .content {
    width: 100%;
    max-width: 708px;
  }
}
