body {
  min-width: 480px;
}

/* mobiles: */
@media only screen
  and (min-device-width : 0) {
  body {
    font-size: 2.5em;
  }

  .content section {
    width: 90%;
    min-width: 90%;
  }

  footer .right {
    float: left !important;
  }

  .collapsible-header {
    padding: 0.5em;
  }

}

/* desktops */
@media only screen
  and (min-device-width: 1281px) {
    body {
      font-size: 1em;
    }

    .content section {
      width: 50%;
      min-width: 420px;
    }

    footer .right {
      float: right !important;
    }
}
/*body {
  font-size: 1.5em;
}*/

header, footer {
  margin: 10px;
}

header h3 {
  font-size: 1.5em;
  color: #44AA33;
  font-weight: bold;
}

h6 {
  font-weight: bold;
  font-size: 1.1em;
  padding: 0.5em 0;
}

footer {
  margin-top: 30px;
}

footer a {
  color: #44AA33;
}

section {
  margin: 10px 30px;
}

section>ul {
  margin-left: 0.5em !important;
}

div.collapsible-body {
  background-color: #efe;
}

div.collapsible-body ul, div.collapsible-body ul li {
  list-style-type: circle;
}

div.collapsible-body {
  padding: 1em 4em;
}

/* http://www.lugolabs.com/caret */
.back-top, .back-left {
  position: relative;
}

.back-top:before, .back-left:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-right: 15px solid #44AA33;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.back-right:after, .back-left:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
}

.back-left:after {
  border-right: 14px solid #fff;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}

.back-top:after {
  border-bottom: 14px solid #fff;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}
